#folder
target/
.vagrant/

#fixed file
.class
.exe
.log
.prefs
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
*.bak
.idea
*.log
*.swp
*.swo
access/session/session
access/frontend/frontend
biz_server/biz_server
push/sync/sync
mtproto/schemas/schema.tl.crc32_tool
nbfs/nbfs/nbfs
mtproto/schemas/diff.71-73.tl
mtproto/schemas/diff.73-74.tl
tools/daeml/daeml
access/auth_key/auth_key
baselib/net2/examples/echo/echo
